In [2]:
import pandas as pd
import numpy as np
data_divar = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/divar_posts_dataset.csv')

In [3]:
data_divar.isnull().sum()

Unnamed: 0              0
archive_by_user         0
brand              756743
cat1                    0
cat2                 1758
cat3               172334
city                    0
created_at              0
desc                    0
id                      0
image_count             0
mileage            827184
platform                0
price                   0
title                   0
type               849106
year               827184
dtype: int64

In [9]:
pip install pyfpgrowth

Collecting pyfpgrowth
  Downloading https://files.pythonhosted.org/packages/d2/4c/8b7cd90b4118ff0286d6584909b99e1ca5642bdc9072fa5a8dd361c864a0/pyfpgrowth-1.0.tar.gz (1.6MB)
     |████████████████████████████████| 1.6MB 23.1MB/s
Building wheels for collected packages: pyfpgrowth
  Building wheel for pyfpgrowth (setup.py) ... done
  Created wheel for pyfpgrowth: filename=pyfpgrowth-1.0-py2.py3-none-any.whl size=5504 sha256=cf290b60ae8ebb6fffa3d6b3e7e2aeacbe83f0658173b447aaa1cecceb5dc682
  Stored in directory: /root/.cache/pip/wheels/3b/3f/0d/a04bb8b17887c1eca7d0f1a48d4aa0c09c96eb221ff7fa56c1
Successfully built pyfpgrowth
Installing collected packages: pyfpgrowth
Successfully installed pyfpgrowth-1.0

In [52]:
data_divar.head(2)

   Unnamed: 0  archive_by_user brand  ... type year publ_day
0           0            False   NaN  ...  NaN  NaN  Tuesday
1           1            False   NaN  ...  NaN  NaN  Tuesday

[2 rows x 18 columns]

In [4]:
data_divar1=data_divar[['platform','created_at']]
data_divar1

       platform    created_at
0        mobile  Tuesday 07PM
1        mobile  Tuesday 07PM
2        mobile  Tuesday 07PM
3        mobile  Tuesday 07PM
4        mobile  Tuesday 08PM
...         ...           ...
947630      web   Friday 07AM
947631   mobile   Friday 02PM
947632   mobile   Friday 04PM
947633   mobile   Friday 05PM
947634   mobile   Friday 05PM

[947635 rows x 2 columns]

In [47]:
publ_day=[]
for p in data_divar1['created_at']:
  publ_day.append(p.split(' ')[0])
data_divar2=data_divar[['platform','publ_day']]
data_divar2.head(5)

  platform publ_day
0   mobile  Tuesday
1   mobile  Tuesday
2   mobile  Tuesday
3   mobile  Tuesday
4   mobile  Tuesday

In [30]:
def unique(list1):
    # intilize a null list
    unique_list = []
    # traverse for all elements
    for x in list1:
        # check if exists in unique_list or not
        if x not in unique_list:
            unique_list.append(x)
    return unique_list

In [48]:
grouped = data_divar2.groupby(by="publ_day")
transactions = []
grouped.filter(lambda x: (transactions.append(unique(x['platform'].to_list())) if x.shape[0] >= 2 else True))
transactions[0:5]

[['mobile', 'web'],
 ['mobile', 'web'],
 ['mobile', 'web'],
 ['mobile', 'web'],
 ['mobile', 'web']]

In [49]:
import pyfpgrowth
# freqItemSet, rules = fpgrowth(transactions, minSupRatio=0.01, minConf=0.01)

patterns = pyfpgrowth.find_frequent_patterns(transactions,1)
rules = pyfpgrowth. generate_association_rules(patterns,0.0001)

In [50]:
patterns

{('mobile',): 7, ('mobile', 'web'): 7, ('web',): 7}

In [51]:
rules

{('mobile',): (('web',), 1.0), ('web',): (('mobile',), 1.0)}